.loginBox {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 50vh;
  background: #212121;
  border-radius: 25px;
  align-items: center;
  padding: 7%;
  font-size: 2vw;
}

.field {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 1vh 0;
}

.textInput {
  margin: 1vw;
  height: 100%;
  width: 80%;
  font-size: 3vh;
  text-align: center;
}

.button {
  width: 100%;
  height: 7vh;
  font-size: 2vw;
  margin: 1vh;
}
